@model WebSiteProject1.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log In</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">
        <h4>Learning Center</h4>
        <nav class="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        Home
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("registerform", "Home")">
                        Register
                    </a>
                </li>
                <li>
                    <a asp-action="LogOff" asp-controller="Home">Log Off</a>
                </li>
            </ul>
        </nav>
    </div>

    <hr />
    <h1>Log In</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="LogIn">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserEmail" class="control-label"></label>
                    <input asp-for="UserEmail" class="form-control" />
                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Log In" class="btn" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="@Url.Action("registerform", "Home")">
            Register a new user
        </a>
    </div>

    <div>
        <p>©2016 - The Learning Center</p>
    </div>

</body>
</html>
